<button (click)="open()">Create</button>

<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="0">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <!-- Titre Column -->
    <ng-container matColumnDef="1">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Titre </th>
      <td mat-cell *matCellDef="let row"> {{row.titre}} </td>
    </ng-container>

    <!-- Date Debut Column -->
    <ng-container matColumnDef="2">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Debut </th>
      <td mat-cell *matCellDef="let row"> {{row.DateDebut|date}} </td>
    </ng-container>
<!--pipe date ne change pas le contenu de la variable il change que l'affichage-->>
    <!-- Date Fin Column -->
    <ng-container matColumnDef="3">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Fin </th>
      <td mat-cell *matCellDef="let row"> {{row.DateFin|date}} </td>
    </ng-container>

    <!-- Lieu Column -->
    <ng-container matColumnDef="4">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Lieu </th>
      <td mat-cell *matCellDef="let row"> {{row.lieu}} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let row">
        <!-- Bouton Edit -->
        <button (click)="edit(row.id)" style="margin-right: 8px;">
          <mat-icon aria-hidden="false" aria-label="Edit icon" fontIcon="edit"></mat-icon>
        </button>
        <!-- Bouton Delete -->
        <button (click)="delete(row.id)">
          <mat-icon aria-hidden="false" aria-label="Delete icon" fontIcon="delete"></mat-icon>
        </button>
        <!-- Bouton visibility -->
        <button (click)="visibility(row.id)">
          <mat-icon aria-hidden="false" aria-label="visibility icon" fontIcon="visibility"></mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Header and Row Definitions -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="6">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>